name: examples

on: [push]

jobs:
  examples_dump_info:
    runs-on: ubuntu-latest
    container: davidb31/nix-on-debian:latest
    steps:
      - name: source profile
        run: |
          env
          # . $HOME/.profile
          git --version || echo "no git found"
          nix-env -q || echo "no nix-env found"
      - uses: actions/checkout@v2.3.4
      - name: First run of nix-shell to measure download time
        run: nix-shell --run 'echo load nix packages'
        working-directory: ./examples/dump_info
      - name: show info
        run: nix-shell --run 'nix-info'
        working-directory: ./examples/dump_info
      - name: demo of multi-line command
        run: |
          nix-shell --run '
              echo "command 1"
              echo "command 2"
          '
        working-directory: ./examples/dump_info

  examples_bazel:
    runs-on: ubuntu-latest
    container: davidb31/nix-on-debian:latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: first run of nix-shell to measure download time
        run: nix-shell --run 'echo load nix packages'
        working-directory: ./examples/bazel
      - name: test and lint
        run: nix-shell --run 'bazelisk build //...'
        working-directory: ./examples/bazel
